@import "tailwindcss";

:root {
  --background: #f8f4f0;
  --foreground: #696868;
}

@theme {
  --color-*: initial;

  --color-white: #ffffff;

  --color-beige-500: #98908b;
  --color-beige-100: #f8f4f0;

  --color-gray-900: #201f24;
  --color-gray-500: #696868;
  --color-gray-400: #97a0ac;
  --color-gray-300: #b3b3b3;
  --color-gray-100: #f2f2f2;

  --color-green-500: #277c78;
  --color-green-400: #7f9161;

  --color-yellow-500: #cab361;
  --color-yellow-400: #f2cdac;

  --color-red-500: #c94736;
  --color-pink-500: #af81ba;
  --color-cyan-500: #82c9d7;
  --color-navy-500: #626070;
  --color-blue-500: #3f82b2;
  --color-brown-500: #93674f;
  --color-orange-500: #be6c49;
  --color-purple-500: #826cb0;
  --color-magenta-500: #934f6f;
  --color-turquoise-500: #597c7c;

  --text-xs: 0.75rem;
  --text-xs--font-weight: 400;
  --text-xs--line-height: 1.125rem;

  --text-sm: 0.875rem;
  --text-sm--font-weight: 400;
  --text-sm--line-height: 1.313rem;

  --text-base: 1rem;
  --text-base--font-weight: 400;
  --text-base--line-height: 1.5rem;

  --text-xl: 1.25rem;
  --text-xl--font-weight: 400;
  --text-xl--line-height: 1.5rem;

  --text-3xl: 2rem;
  --text-3xl--font-weight: 400;
  --text-3xl--line-height: 2.4rem;

  --font-sans: var(--font-public-sans);
  --font-sans--font-feature-settings: "liga" off, "clig" off;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-public-sans), Arial, Helvetica, sans-serif;
}
